

.para
{
    margin: 20px;
    
}

.header1
{
    font-size: 40px;
}
.btn
{
    font-size: 40px;
}
.para

{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    width: 700x;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
}
.area
{
    width: 500px;
    height: 200px;
}
*
{
    margin: auto;
}