/* .form1
{
    background-color: gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
} */
button{
    background-color: blueviolet;
}