<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="Stytlesheet" href="style.css">
</head>
<body>
    <div class="header">
    <h1>Shrinath Rajput </h1>
    </div>
    <div class="list">
    <ui>
        <li>I am AIML Developer </li>
        <li> I Am Front_end backend Developer </li>
        <li> I Like Virat </li>
    </ui>
    </div>
</body>
</html>