.first
{
    height: 200px;
    width: 200px;
    background-color: brown;
    animation-name: shrinath;
    animation-duration: 2s;
    animation-delay: 2;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: noraml;



 
}
h1{
    height: 100px;
    background-color: brown;
    color: white;
}
@keyframes shrinath
{
    from {
        font-size: 20px;
         background-color: blueviolet;

    }
    to{
        font-size: 40px;
         background-color: burlywood;
    }
}

@media( min-width="400px")
{
    h1{
        background-color:coral;
    }
}

@media(orientation: landscape)
{
   h1{
    background-color: green;
    color: black;
   }
}