.main 
{
    background-color: rgba(188, 142, 142,7);
    color: aliceblue;
    padding: 100px;
    margin: 20px ;
    text-align: center;
    font-size: 900;
    text-transform: uppercase;
    display:inline-grid ;
    grid-template-rows: 100px 100px 100px 100px;
    border: 2px solid brown;
    box-shadow: 2px 2px 20px black;
    border-radius: 20px;
    row-gap: 10px;
    height: 400px;
    width: 400px;
   

}
h1{
    height: 100px;
    
    padding: 10px;
    margin: 10px ;
    background-color: beige;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    text-align: center;


}

#first
{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10000x;
     padding: 10px;
     width: 100px;
     margin:  10px auto;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    

}


#second
{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10000x;
     padding: 10px;
     width: 100px;
     margin: 10px auto;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
}

#third
{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10000x;
     padding: 10px;
     width: 100px;
    margin: 10px auto;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
}

#fourth
{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10000x;
     padding: 10px;
     width: 100px;
     margin: 10px auto;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
}

