#pets 
{
 
  display:  flex;
  justify-content: space-between;
  
}
@media(max-width:375)
{
  #pets
  {
    flex-wrap: wrap;
  }
}
.card
{
 
  width: 400px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 10px black;
  border: 2px solid black;
  border-radius: 15px;
}

img {
  width: 100%;
  border-radius: 25px;
   box-shadow: 2px 2px 10px black;
}



h2 {
  color: #d56f3e;
}

span {
  color: #9d6f24;
}

h4 {
  text-align: right;
  color: #3c787e;
}
