h1{
    text-align: center;
    color: rgb(172, 152, 165);
    font-weight: 900;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: arial;
}
h2{
    text-align: center;
    color: brown;
    font-weight: 900;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: arial;
}
p{
    text-align: center;
    color: cadetblue;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    
}
section{
    text-align: center;
    font-weight: bold;
   
}
 footer{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

 
main{
    text-align: justify;
    color: blueviolet;
    font-weight: bolder;
    text-decoration: underline;
    letter-spacing: 2px;
    font-family: arial;
}

#virat{
    color: brown;
    background-color: aliceblue;
    text-align: center;

}
.one{
    background-color:antiquewhite;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px black;
}
.navbar
{
    padding: 10px;
    margin: 10px;
    background-color: beige;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}

.container
{
    background-color: beige;
    
}
section img{
    box-shadow: 2px 2px 10px black;
}

.forms
{
    padding: 10px;
    margin: 10px;
    background-color: blanchedalmond;
}

*{
    
 
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.one{
    border: 2px solid black;
}