

.first {
    font-size: 900;
    font-family: arial;
    color: brown;
    letter-spacing: 2px;
    background-color:blanchedalmond;
    height: 400px;
    width: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    padding:100px;
    margin: 25px;
   display: inline-block;
    
    
}
    

h1 {
    color: blueviolet;
    background-color:antiquewhite;
    letter-spacing: 5px;
    height: 100px;
     border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 30px;
    
}


.second {
    color:chocolate;
    font-size: 900;
    font-family: arial;
    letter-spacing:2px;
    background-color: aliceblue;
    height: 400px;
    width: 10%;
     border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    padding:50px;
    margin: 40px;
    display: inline-block;
    
    


}



.third {
    
    background-color: rgb(252, 249, 245);
    color:crimson;
    height: 2000px;
    width: 50%;
     border-width: 5px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    padding: 200px;
   line-height: 20px;
   text-align: center;
   margin: 60px;
   display: inline-block;
   position: relative;
   left: 500px;
   right: 10px;
   bottom: 1200px;
  

    
}

.fourth button {
    
    color: rgb(75, 24, 24);
    font-family: arial;
    font-size: 900;
    letter-spacing: 2px;
     border-width: 5px;
    border-style: solid;
    border-color: red;
    background-color: blueviolet;
    border-radius: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 25px;
    height: 50px;
   


  
}
