.first {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
   
    background-color: antiquewhite;
    letter-spacing: 5px;
}

h1 {
    color: rgb(158, 111, 78);
    font-size: 900;
    background-color:bisque;
}

*{
    text-align: center;
    font-size: 900;
    
    

}

.second {
    color: blueviolet;
    background-color:blanchedalmond;
    font-family: arial;
    font-size: 900;
    letter-spacing: 5px;

}

input{
    background-color: cadetblue;
}

input[type="text"] {
    color: brown;
}
input[type="password"] {
    color: brown;
}

button:hover {
    background-color: blueviolet;
}

p:active {
    background-color: chartreuse;
}