
.first {
    text-align: center;
    background-color: rgba(120, 140, 160, 0.4);
    height: 800px;
    width: 800px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px auto;
    box-shadow: 2px 2px 10px bisque;
    display: flex;
    flex-direction:  column;
    justify-content: space-evenly;
    /* background-image: url("myphoto.jpeg");
    background-size: cover; */
    flex-grow: 1;
    
   
    /* align-items: center;
   */
  

   
    
    
}
h1{
    background-color:antiquewhite;
    padding: 10px;
    margin: 20px;
    height: 40px;
    text-align: center;
    box-shadow: 2px 2px 20px black ;
    font-size: 40px;
    letter-spacing: 2.5px;
    font-family: arial;
    

}

#first 
{
    background-color: violet;
    color: white;
    text-align: center; 
    margin: 20px;
    
    padding-top: 30px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
     font-size: 40px;
    letter-spacing: 2.5px;
    font-family: arial;
    color: black;
    
    
    
    
}

#second 
{
    background-color:indigo;
    color: white;
    text-align: center; 
    margin: 20px;
    
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding-top: 30px;
     font-size: 40px;
    letter-spacing: 2.5px;
    font-family: arial;
    color: black;
   
}

#third

{
    background-color: blue;
    color: white;
    text-align: center; 
    margin: 20px;
  
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding-top: 30px;
     font-size: 40px;
    letter-spacing: 2.5px;
    font-family: arial;
    color: black;
}

#fourth
 
{
    background-color: green;
    color: white;
    text-align: center; 
    margin: 20px;
    
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding-top: 30px;
     font-size: 40px;
    letter-spacing: 2.5px;
    font-family: arial;
    color: black;
}

#five
 
{
    background-color: yellow;
    color: white;
    text-align: center; 
    margin: 20px;
  
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding-top: 30px;
     font-size: 40px;
    letter-spacing: 2.5px;
    font-family: arial;
    color: black;
}


#six

{
    background-color: red;
    color: white;
    text-align: center;
    margin: 20px;
   
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding-top: 30px;
     font-size: 40px;
    letter-spacing: 2.5px;
    font-family: arial;
    color: black;
}

#seven

{
    background-color: orange;
    color: white;
    text-align: center;
    margin: 20px;
   
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    padding-top: 30px;
    font-size: 40px;
    letter-spacing: 2.5px;
    font-family: arial;
    color: black;
}




