h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffa511;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5px;
    text-decoration: teal double underline;
    font-size: 55px;
    text-transform: uppercase;
}