 h1{
            color: rebeccapurple;
            background-color: bisque;
        }

h2 {
    color:burlywood;
}

p{
    background-color: bisque;
    color: black;
}

button{
    color: rgb(231, 223, 223);
    background-color:chocolate;
}