h1{
    text-align: center;
    color: rgb(172, 152, 165);
    font-weight: 900;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: arial;
}
h2{
    text-align: center;
    color: brown;
    font-weight: 900;
    text-decoration: underline;
    letter-spacing: 5px;
    font-family: arial;
}
p{
    text-align: center;
    color: cadetblue;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    
}
section{
    text-align: center;
    font-weight: bold;
   
}
 footer{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

 
main{
    text-align: justify;
    color: blueviolet;
    font-weight: bolder;
    text-decoration: underline;
    letter-spacing: 2px;
    font-family: arial;
}

#virat{
    color: brown;
    background-color: aliceblue;
    text-align: center;

}