.face 
{
    width: 400px;
    height: 400px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 2px 2px 10px brown;
}

.mouth  {
    width: 180px;
    height: 90px;
    border: 2px solid black;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 230px;
    left: 110px;
}

.eyes1 {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color:black;
    border-radius: 50%;
    position: relative;
    left: 10px;
    bottom: 150px;
    right: 20px;
    
    
    

}

.eyes2 {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color:black;
    border-radius: 50%;
    position: relative;
    bottom: 210px;
    left: 110px;
    right: 10px;
    
    
    

}