/* div {
    height: 200px;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255,255, 175, 0.3);
    margin:0 auto;
} */

 #box2 {
     height: 200px;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: rgba(155,165, 255, 0.3);
    transition: 1s;
    margin:0 auto;

} 
#box2 button
{
    background-color: brown;
    color: white;
}

#box2:hover{
    background-color: rgb(114, 13, 13);
    border-radius: 50%;
}


/* rotate */
#box3 {
    transform: rotate(45deg);
}
#myPic {
     height: 200px;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: rgba(100, 107, 176, 0.3);
    transition: 1s;
    margin:0 auto;
    transform: scale(10);

}
#box1 
{
     height: 200px;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: rgba(53, 54, 59, 0.3);
    transition: 1s;
    margin:0 auto;
    box-shadow: 2px 2px 10px green;

}
#box4 {
     height: 200px;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    background-color: rgba(86, 88, 106, 0.3);
    transition: 1s;
    margin:0 auto;
} 
