.head
{
    font-size: 20px;
    background-color: antiquewhite;
    color: blueviolet;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
}
*
{
    text-align: center;

}
.input1
{
    background-color: beige;
    padding: 10px;
    margin: 10px;
    height: 100px;
}
#int
{
    height: 50px;
    width: 500px;
}
#btn
{
    background-color: brown;
    font-size: 20px;
}
